<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Você recebeu uma invoice!</h1>
    <p>Visualização através do link: <%= @link_da_invoice %></p>
  </body>
</html>