<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Obrigado por entrar em contato, <%= @email %>!</h1>
    <p>Seu token é: <%= @token %></p>
    <p>É necessário ativar seu token: <%= @link_de_ativacao %> </p>
  </body>
</html>